<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义映射关系，关联dao层被@Mapper接口  -->
<!-- namespace 是用来关联的全路径-->
<mapper namespace = "com.example.demo.Dao.UserMapper">
<!--  表-实体 映射关系  -->
    <resultMap id="resultBaseMap" type="com.example.demo.model.User">
        <id column="userId" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>
<!-- 新建用户 -->
    <insert id="addUser" parameterType="com.example.demo.model.User">
        insert into user values(#{userid},#{username},#{password});
    </insert>
<!--  查询所有用户信息  -->
    <select id="selectUserAll" resultType="com.example.demo.model.User">
        select * from user;
    </select>
</mapper>